@font-face {
    font-family: LambdaScribble;
    src: url(FNT/lambdascribble.ttf);
}

body {
    background-color: #000000;
    image-rendering: pixelated;
}

h1 {
    color: #FFFFFF;
    text-align: left;
    font-weight: normal;
    font-family: LambdaScribble;
    font-size: 32px;
    margin-left: 32px;
}

h2 {
    color: #FFFFFF;
    text-align: left;
    font-weight: normal;
    font-family: LambdaScribble;
    font-size: 24px;
}

p.post {
    color: #000000;
    font-family: LambdaScribble;
    font-size: 24px;
    font-weight: normal;
    background-color: #FFFFFF;
    border: 16px solid #FFFFFF;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
}

p.date {
    color: #fa5e82;
    text-align: center;
    font-family: LambdaScribble;
    font-size: 24px;
    margin-left: 16px;
    margin-right: 16px;
    border-color: #222222;
    background-color: #222222;
    border-style: solid;
    border-width: 2px;
}

p.desc {
    color: #FFFFFF;
    text-align: center;
    font-family: LambdaScribble;
    font-size: 24px;
    margin-left: 32px;
    margin-right: 32px;
}

p {
    color: #FFFFFF;
    font-family: LambdaScribble;
    font-size: 24px;
    margin-left: 32px;
    margin-right: 32px;
}

.ribbon {
    color: #FFFFFF;
    text-align: left;
    font-family: LambdaScribble;
    font-size: 24px;
    margin-left: 16px;
    margin-right: 16px;
    border-color: #222222;
    background-color: #222222;
    border-style: solid;
    border-width: 16px;
    position: sticky;
    top: 0px;
}

.container {
    width: 66%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.box {
    width: 64px;
    height: 64px;
    margin: 10px auto;
}

.icon {
    width: 100%;
}