body {
    background-color: #000000;
}

h1 {
    color: #FFFFFF;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    margin-left: 32px;
}

h2 {
    color: #FFFFFF;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin-left: 32px;
}

.post {
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    background-color: #b9b9b9;
    border: 16px solid #b9b9b9;
    width: 650px;
    margin: 0 auto;
    justify-content: center;
}

p.desc {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin-left: 32px;
    margin-right: 32px;
}

p {
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin-left: 32px;
    margin-right: 32px;
}

.ribbon {
    color: #FFFFFF;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin-left: 16px;
    margin-right: 16px;
    border-color: #222222;
    background-color: #222222;
    border-style: solid;
    border-width: 16px;

    position: sticky;
    top: 0px;
}


.dialoglog {
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    border-color: #222222;
    background-color: #222222;
    border-style: solid;
    border-width: 8px;
}

.pageButton {
    color: #FF0000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    background-color: #b9b9b9;
    border: 0px solid #b9b9b9;
}

.postFoot {
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    background-color: #b9b9b9;
    border: 16px solid #b9b9b9;
    width: 650px;
    display: flex;
    margin: 0 auto;
}

.dialoglogButton {
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    border-color: #222222;
    background-color: #222222;
    border-style: solid;
    border-width: 8px;
    width: 100%;
    height: 34px;
    margin: 0 auto;
    display: block
}


.messageFrom {
    font-size: 16px;
    border-color: #323232;
    background-color: #323232;
    border-style: solid;
    border-width: 8px;
    border-radius: 8px;
    width: 50%;
    margin-right: 32px;
    margin-left: auto;
    margin-bottom: 2px;
    margin-top: 2px;
    justify-self: right;
}

.messageTo {
    font-size: 16px;
    border-color: #444444;
    background-color: #444444;
    border-style: solid;
    border-width: 8px;
    border-radius: 8px;
    width: 50%;
    margin-left: 32px;
    margin-bottom: 2px;
    margin-top: 2px;
    display: block;
}

.scapeCli{
    margin-top: 8px;
    width: 100%;
    height: 32px;
    justify-content: left;
    display: flex;
}

.scapeSer{
    margin-top: 8px;
    width: 100%;
    height: 32px;
    justify-content: right;
    display: flex;
}

.pfpCli{
    height: 32px;
    border-radius: 16px;
    display: inline;
    vertical-align: middle;
}

.pfpSer{
    height: 32px;
    border-radius: 16px;
    display: inline;
    vertical-align: middle;
}

.username{
    font-size: 16px;
    display: inline;
    margin: auto 8px;
}